.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #29568f;
}
.navbar-default .navbar-nav > li > a {
	color:  #f5f5f5;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
    margin: auto 0;
    
}

.navbar-default {
    background-color: #29568f;
}

.navbar navbar-default container {
   
}

body {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color:;
    padding: 2vw;
    margin: 0;
	width: auto;
	max-width: none;
	border: none;
    
}

.page-header {
    margin-top: 2vw;
    padding: 1vw;
  
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e5e5e5;
    border-radius: 10px;
}