.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #29568f;
}
.navbar-default .navbar-nav > li > a {
	color:  #f5f5f5;
}

.navbar-default .navbar-brand {
    color: #f5f5f5;
    margin: auto 0;

}

.navbar-default {
    background-color: #29568f;
}

#block-teknikcollege-main-menu li {
	transition: all 0.3s ease;
	flex-grow: 1;
	max-width: 200px;
}

#block-teknikcollege-main-menu li:hover {
	background-color: rgba(0, 0, 0, 0.12);
	transition: all 0.3s ease;
}

#block-teknikcollege-main-menu li a:hover, #block-teknikcollege-main-menu li a:focus {
	color: white;
	background-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
}

#navbar {
    margin: 0;
	width: 100%;
	max-width: none;
	border: none;
	border-radius: 0;
	padding: 0;
	z-index: 5;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.48);
}
#navbar > div {
	padding: 0;
}
.navbar-header {
	width: 100%;
}
.navbar-default .navbar-nav > li > a {
	font-size: 16px;
	font-weight: bold;
}

#block-teknikcollege-main-menu {
	display: flex;
	justify-content: center;
	width: 100%;
}

#navbar .navbar-nav > li .is-active {
	color: white;
	background-color: transparent;
	padding-bottom: 18px;
}

#navbar .navbar-nav > li .is-active::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 6px;
	background-color: #D39100;
	left: 0;
    	bottom: 0px;
    	transform: translateY(100%);
    	box-shadow: 0px 1px 1px #d39100;
}
.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-nav {
	margin: 0;
	flex-grow: 1;
	justify-content: center;
	display: flex;
}

.page-header {
	border-bottom: 0;
	margin: 0;
	padding: 0.5em 0;
	align-self: flex-start;
}

.region-content, .region-navigation-collapsible {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.region .logo {
    padding: 0;
    margin: 0;
    position: absolute;
	z-index: 2;
}
.region .logo img {
	width: 60px;
	height: auto;
	margin-left: 10px;
}

#block-logo, #block-block-logo {
	position: absolute;
}

#block-teknikcollege-main-menu li a {
	padding: 10px 0;
	padding: 24px 0px;
	text-align: center;
}
.region-content {
	justify-content: center;
	flex-direction: column;
}
.main-container {
	width: 100%;
	margin: 0;
	padding: 0;
}
.row {
	margin: 0;
	border-bottom: solid 1px black;
}
.row .col-sm-12 {
	padding: 0;
	margin: 0;
	width: 100%;
}

.view-program-rutor .views-row {
    width: initial;
    flex-grow: 1;
    flex-basis: 0;
    min-width: calc(50% - 32px);
    padding: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: row;
}
.view-program-rutor .views-row span {
	width: 100%;
}
.view-program-rutor .views-row span a {
    font-weight: 500;
    line-height: 1.1;
    font-size: 30px;
    color: white;
	padding: 32px 16px;
	display: block;
}
.view-program-rutor .views-row span:hover {
	cursor: pointer;
}

.view-program-rutor .views-row .views-field {
     width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
     background-color: #29568f;
     text-align: center;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.view-program-rutor .views-row:nth-of-type(2n) {
    justify-content: flex-start;
}

.view-program-rutor .views-row .views-field:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.block-views-blockprogram-rutor-block-1 h2 {
    padding: 8px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.28);
    background-color: #29568f;
    text-align: center;
    color: white;
    margin: 0;
}

.view-program-rutor .view-content {
    display: flex;
    flex-wrap: wrap;
}

.view-om-programmen .views-row a {
	font-size: 48px;
	line-height: 48px;
	color: #e5e5e5;
}
.views-field.views-field-field-program- {
    box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.28);
}
.view-om-programmen .views-row a:hover, .views-row a:focus {
    color: #d39100;
    text-decoration: underline;
}

.view-om-programmen .views-row:nth-of-type(2n) a:hover, .view-om-programmen .views-row:nth-of-type(2n) a:focus {
   color: #D39100;
}
.view-om-programmen .views-row p {
	max-width: 650px;
	line-height: 24px;
	font-size: 16px;
	padding-top: 12px;
}

.views-field-field-body {
	padding-left: 100px;
}
.view-om-programmen .views-field-body {
	padding-left: 100px;
}

.views-row, .view-content, .view, .views-element-container {
	width: 100%;
}

.view-om-programmen .views-row {
    display: flex;
    justify-content: center;
	align-items: center;
	padding: 100px 10vw;
	width: 100%;
	color: #e5e5e5;
	background-color: #333;
}

@media screen and (max-width: 722px) {
    .view-om-programmen .views-row p {
        margin-top: 24px;
    }
}
.flex-direction-nav a {
	height: 50px;
}
.flexslider {
	border: none;
	margin: 0;
}
.flex-control-nav {
	bottom: 12px;
	z-index: 2;
}
.flex-control-paging li a {
	width: 29px;
	height: 29px;
}
.footer {
	padding: 35px 0 36px;
        margin-top: 191px;
        border-top: solid #f1f1f1 0px;
	background-color: #333;
	position: relative;
	display: flex;
	justify-content: center;
}
footer::before {
	content: '';
	position: absolute;
	width: 100%;
	top: 0;
	transform: translateY(-100%);
	height: 191px;
	background-position: center;
	background-size: cover;
	background-image: url("../stenungsund-dekor3.png");
}
footer .region {
	display: inline-flex;
	justify-content: space-around;
    	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	flex-direction: row;
    	align-items: flex-start;
	flex-wrap: wrap;
}
footer h2 {
	color: white;
	border-bottom: 1px solid #d39100;
	margin: 0;
}

footer ul li:first-of-type {
	padding-top: 15px;
}
.footer .nav li a:hover {
	text-decoration: underline;
}
footer nav {
	padding: 0 90px 32px;
	min-width: 250px;
	box-sizing: content-box;
}
footer .nav li a {
	padding: 0;
	color: #ffffff;
	font-size: 16px;
	line-height: 1;
}
footer .nav li {
	 padding: 8px 0;
}
footer .nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}

@media screen and (max-width: 728px) {
	.view-program-rutor .views-row {
		min-width: 100%;
		justify-content: center;
	}
}

@media screen and (max-width: 860px) {
	footer nav {
		padding: 0 60px 32px;
	}
}

@media (min-width: 767px) {
	.container {
		width: 100%;
	}
}

@media (max-width: 728px) {
	.view-program-rutor .views-row {
		min-width: 100%;
	}
	.view-program-rutor .views-row:nth-of-type(2n) {
		    justify-content: center;
	}
}

@media (max-width: 906px) {
	footer .region {
		display: initial;
	}	
}
@media (max-width: 820px) {
	#block-teknikcollege-main-menu li {
		max-width: 180px;
	}
}

@media (max-width: 767px) {
	.navbar-nav, #block-teknikcollege-main-menu {
		width: 100%;
		margin: 0;
		flex-direction: column;
	}
	.navbar-btn {
		display: none;
	}
	#navbar .navbar-nav > li .is-active::after {
		box-shadow: none;
	}
	#block-teknikcollege-main-menu li {
		max-width: none;
	}
}

.view-om-programmen .views-row:nth-last-of-type(2n + 1) h3 {
	color: #333;
}

.view-om-programmen .views-row:nth-last-of-type(2n + 1) {
	background-color: #e5e5e5;
}

.view-om-programmen .views-row:nth-last-of-type(2n + 1) p, .view-om-programmen .views-row:nth-last-of-type(2n + 1) a {
       	color: #333;
}

.view-om-programmen .views-row a:hover {
	color: #D39100;
}

body .main-container > .row {
	padding-top: 0px;
}

.main-container .row {
	border-bottom: none;
}

@media screen and (max-width: 1050px) {
	.view-om-programmen .views-row {
		flex-direction: column;
		padding: 80px 8vw;
	}
	.views-field.views-field-field-program- {
		box-shadow: none;
	}

	.views-field-field-program- .img-responsive {
		margin-bottom: 20px;
	}
	.view-om-programmen .views-field-body {
		padding-left: 0;
		text-align: center;
	}
}

@media screen and (max-width: 1050px) {
	.views-field-field-body {
		padding-left: 0px
	}
}
.view-kontaktuppgifter .field-content {
    display: flex;
    align-items: flex-start;
}

.view-kontaktuppgifter .field-content div {
    padding-left: 24px;
}
a.flex-next, a.flex-prev {
	z-index: 100;
}
.ctaText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
	display: flex;
	justify-content: center;
	width: 100%;
}
.ctaText a {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	padding: 11px 24px;
	background-color: #9E1B34;
	margin: 0 14px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.34);
	transform: perspective(1px) translateZ(0);
	transition-property: color;
	transition-duration: 0.15s;
}
.ctaText a:nth-of-type(2) {
	background-color: #29568F;
}
.ctaText a:hover, .ctaText a:focus {
	text-decoration: none;
}
.ctaText a:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.34), inset 0 0 10px 0px rgba(0, 0, 0, 0.4);
}
.ctaText a:before {
	width: 100%;
	height: 100%;
    	content: "";
    	position: absolute;
    	z-index: -1;
    	top: 0;
    	left: 0;
	background-color: rgba(0,0,0,0.12);
    	transform: scale(0);
    	transition-property: transform;
    	transition-duration: 0.15s;
    	transition-timing-function: ease-out;
}
.ctaText a:hover:before {
	transform: scale(1);
}
.col-sm-3 {
	padding: 0;
}
.block-views-blockprogram-meny-block-1 {
    background-color: #f5f5f5;
    border-bottom-right-radius: 3px;
    border: 1px solid #e3e3e3;
    padding: 16px;
}

article[about='/tcstenungsund/node/1'] p, article[about='/tcstenungsund/node/1'] h1, article[about='/tcstenungsund/node/1'] h2, article[about='/tcstenungsund/node/1'] h3, article[about='/tcstenungsund/node/1'] h4, article[about='/tcstenungsund/node/1'] h5, article[about='/tcstenungsund/node/1'] h6 {
    max-width: 650px;
}
@media (min-width: 768px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
}
